<% content_for(:page_title) { conversation.name } %>
<div id="chat" class="chat" data-conversation-id="<%= conversation.id %>">
  <!-- TODO: refactor in a component -->
  <div id="chat-messages" class="chat-messages">
    <div hidden id="chat-message-exemple" class="chat-message">
      <div class="chat-message-author">exemple</div>
      <div class="chat-message-content">
        <div class="chat-message-content-text">exemple</div>
        <div class="chat-message-content-media">
          <img src="" alt="" class="chat-message-content-media-representable"/>
          <a href="" class="chat-message-content-media-url"></a>
        </div>
      </div>
    </div>
    <% conversation.messages.order(:created_at).each do |message| %>
    <div class="chat-message">
      <div class="chat-message-author"><%= message.author.name%></div>
      <div class="chat-message-content">
        <div class="chat-message-content-text"><%= message.body %></div>
        <% if message.media %>
        <div class="chat-message-content-media">
          <% if message.media.file.representable? %>
          <img 
            src="<%= Rails.application.routes.url_helpers.rails_blob_path(message.media.file,
            only_path: true)%>"
            alt="image"
          />
          <% else %> <%= link_to rails_blob_path(message.media.file,
          disposition: "attachment") do %> <%= message.media.file.filename %> <%end%> <%
          end %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="chat-form">
    <%= form_with(url: "/conversation/#{conversation.id}/message", method:
    "POST",class:"chat-form-text") do %>
    <input required name="message" type="text" placeholder="Message" />
    <input type="file" name="file" />
    <input type="submit" value="Créer" />
    <% end %>
  </div>
  <div></div>
</div>
