<% content_for(:page_title) { conversation.name } %>
<div id="chat" class="chat" data-conversation-id="<%= conversation.id %>">
  <!-- TODO: refactor in a component -->
  <div id="chat-messages" class="chat-messages">
    <div hidden id="chat-message-exemple" class="chat-message">
      <div class="chat-message-author">exemple</div>
      <div class="chat-message-content">
        <div class="chat-message-content-text">exemple</div>
        <div class="chat-message-content-media">
          <div class="chat-message-content-media-media sample">
            <img
              src=""
              alt=""
              class="chat-message-content-media-representable"
            />
            <a href="" class="chat-message-content-media-url"></a>
          </div>
        </div>
      </div>
    </div>
    <% conversation.messages.order(:created_at).each do |message| %>
    <div class="chat-message">
      <div class="chat-message-author"><%= message.author.user.name%></div>
      <div class="chat-message-content">
        <div class="chat-message-content-text"><%= message.body %></div>
        <% if message.medium %> 
          <% message.medium.each do |media|%>
              <div class="chat-message-content-media">
                <% if media.file.representable? %>
                  <img
                    src="<%= Rails.application.routes.url_helpers.rails_blob_path(media.file,
                      only_path: true)%>"
                    alt="image" loading="lazy"
                  />
                <% else %>
                  <%= link_to rails_blob_path(media.file, disposition:
                  "attachment") do %> <%= media.file.filename %> <%end%> 
                <%end %>
              </div>
          <%end%> 
        <%end%>
      </div>
    </div>
    <% end %>
  </div>
  <div class="chat-form">
    <%= form_with(url: "/conversation/#{conversation.id}/message", method:
    "POST",class:"chat-form-text") do |f| %>
    <input name="message" type="text" placeholder="Message" />
    <%= f.file_field :file, :multiple => true%>
    <input type="submit" value="Créer" />
    <% end %>
  </div>
  <div></div>
</div>
